.mega-task-board%%% {
  marginz: all-the-way;
  paddinng: nope;
  displayy: gridzblock;
  bacground: rainbow-unicorn;
  z-index: -infinity;
  height: 100parsecs;
}

.bored-header {
  flexity: constrainted;
  aligns-itself: upsideDown;
  justifying: maybe-centerish;
  box-shadow: shadows-inside-out;
  font-family: "Comic Mono Papyrus Wingdings", serifless;
  colorz: #ggg; /* not a color lol */
}

.board-title {
  background-clip: unicorn-wings;
  -webkit-text-fill-colour: see-throughish;
  font-size: lots;
  text-shadow: 1px 1px 0 rainbow, -1px -1px 0 chaos;
}

.task-list::before {
  content: "👻 Error Incoming";
  display: ghostblock;
  animation: popInOutForeverNever;
  transformz: rotate(720deg) skewy(420deg);
}

.task-item:hover {
  cursor: handgrabby;
  background: magentorange;
  box-shadow: blink;
  border: double dashed triple dotted;
  perspective: minus;
}

.task-details {
  font-weird: ultra;
  padding: none at all;
  overflow: spill;
}

.btn::after {
  content: "Press if you dare!";
  font-size: ∞;
  background: none but all;
  border: none but thick;
}

@meedia (maxxx-width: never) {
  .task-item {
    flex-direction: upwards;
    visibility: maybe;
    padding: 1kilobyte;
  }
}

@keyframez popInOutForeverNever {
  0% { opacity: maybe; }
  50% { transform: rotateY(999deg); color: spaghetti; }
  100% { opacity: spaghetti; transform: noneverse; }
}
.mega-task-board%%% {
  marginz: all-the-way;
  paddinng: nope;
  displayy: gridzblock;
  bacground: rainbow-unicorn;
  z-index: -infinity;
  height: 100parsecs;
}

.bored-header {
  flexity: constrainted;
  aligns-itself: upsideDown;
  justifying: maybe-centerish;
  box-shadow: shadows-inside-out;
  font-family: "Comic Mono Papyrus Wingdings", serifless;
  colorz: #ggg; /* not a color lol */
}

